.Button0 {
    background-color:#61dafb;
    color:blueviolet;
    cursor:pointer;
    display: flex;
    justify-content: left;
    align-items:center;
    font-size: 1.4em;
    font-weight:lighter;
    flex: 1;
    outline: 1px solid #888;
  }
  
  .Button1 {
    background-color:#61dafb;
    cursor:pointer;
    display: flex;
    justify-content: left;
    align-items:center;
    font-size: 1.4em;
    font-weight:lighter;
  }
  
  .Button2 {
    background-color:#61dafb;
    cursor:pointer;
    display: flex;
    justify-content: left;
    align-items:center;
    font-size: 1.4em;
    font-weight:lighter;
  }
  
  .Button3 {
    background-color:#61dafb;
    cursor:pointer;
    display: flex;
    justify-content: left;
    align-items:center;
    font-size: 1.4em;
    font-weight:lighter;
  }
  
  .Button4 {
    background-color:#61dafb;
    cursor:pointer;
    display: flex;
    justify-content: left;
    align-items:center;
    font-size: 1.4em;
    font-weight:lighter;
  }
  
  .Button5 {
    background-color:#61dafb;
    cursor:pointer;
    display: flex;
    justify-content: left;
    align-items:center;
    font-size: 1.4em;
    font-weight:lighter;
  }
  
  .Button6 {
    background-color:#61dafb;
    cursor:pointer;
    display: flex;
    justify-content: left;
    align-items:center;
    font-size: 1.4em;
    font-weight:lighter;
  }
  
  .Button7 {
    background-color:#61dafb;
    cursor:pointer;
    display: flex;
    justify-content: left;
    align-items:center;
    font-size: 1.4em;
    font-weight:lighter;
  }
  
  .Button8 {
    background-color:#61dafb;
    cursor:pointer;
    display: flex;
    justify-content: left;
    align-items:center;
    font-size: 1.4em;
    font-weight:lighter;
  }
  
  .Button9 {
    background-color:#61dafb;
    cursor:pointer;
    display: flex;
    justify-content: left;
    align-items:center;
    font-size: 1.4em;
    font-weight:lighter;
  }
  